<link rel="stylesheet" href="app.component.css">

<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <!--Nombre de la inmobiliaria dentro de la linea de opciones-->
        <div class="text-center">
            <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/real-estate-logo-png-design-template-6b246f5e7e6a839ce25a00fa410b7ad4_screen.jpg?ts=1655071977" width="100px" height="75px" alt="">

        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="navbar">Casas</a>
                </li>

            </ul>

        </div>
    </div>
</nav>
<router-outlet></router-outlet>

<body>

</body>